$basic-white: rgba(255, 255, 255, 1);
$basic-black: rgba(0, 0, 0, 1);
$font-grey: rgb(44, 46, 63);
$opacity-grey: rgba(44, 46, 63, 0.3);
$light-opacity-grey: rgba(44, 46, 63, 0.7);
$toggle-grey: rgba(218, 218, 218, 1);
$dark-grey: rgb(20, 21, 23);
$opacity-dark-grey: rgba(20, 21, 23, 0.5);
$orange: rgb(254, 120, 101);
$hover-orange: rgb(241, 125, 75);
$border-grey: rgb(215, 217, 223);
$shadow-grey: rgba(41, 54, 66, 0.1);
$light-pink: rgba(251, 248, 248, 1);
$input-color: rgb(72, 73, 77);
$close-color: rgba(20, 21, 23, 0.2);
