.buy {
  display: none;
  position: fixed;
  width: 728px;
  min-height: 444px;
  background-color: $light-pink;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    width: 338px;
    height: 444px;
    left: 0;
    top: 0;
    background-image: url("../img/sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sea2x.jpg");
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    width: 100%;
    background-color: $basic-white;
    min-height: 568px;
  }

  &--opened {
    display: block;
  }

  &--sended::before {
    background-image: none;
  }

  &--sended {
    display: none;
  }
}

.buy__wrapper {
  width: 390px;
  margin-left: auto;
  padding: 72px 60px;

  @media (max-width: $mobile-width) {
    padding: 100px 15px;
    width: 100%;
  }
}

.buy__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
