.close-button {
  @include button-reset;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 22px;
  height: 22px;
  margin-right: 24px;
  margin-top: 20px;
  padding-bottom: 20px;
  right: 0;
  top: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: $close-color;
    right: 0;
    top: 50%;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
