.container {
  min-width: 320px;
  // width: auto;
  margin: 0 auto;
  padding: 0 19.531%;
  max-width: 1920px;

  @media (max-width: $tablet-width) {
    padding: 0 10.677%;
  }

  @media (max-width: $mobile-width) {
    padding: 0 5%;
  }
}
