.country {
  display: none;

  &--current {
    display: block;
    position: relative;
    min-height: 596px;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1089px;
      background-image: url("../img/map.png");
      background-repeat: no-repeat;
      z-index: -2;
    }

    &::after {
      position: absolute;
      content: "";
      width: 430px;
      height: 596px;
      background-image: url("../img/greece-review.jpg");
      background-repeat: no-repeat;
      z-index: -1;
      top: 0;
      left: 50%;
      transform: translate(-25%, 0);
    }
  }

  &--greece::after {
    background-image: url("../img/greece-review.jpg");
  }

  &--albania::after {
    background-image: url("../img/greece-review.jpg");
  }

  &--macedonia::after {
    background-image: url("../img/macedonia-review.jpg");
  }

  &--croatia::after {
    background-image: url("../img/croatia-review.jpg");
  }

  &--montenegro::after {
    background-image: url("../img/montenegro-review.jpg");
  }
}

.country__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 150%;
    text-align: center;
  }
}

.country__text {
  font-size: 16px;
  line-height: 28px;
  color: $light-opacity-grey;
  margin: 0;
  padding-top: 30px;
  padding-left: 5px;
  margin-bottom: 50px;
  padding-right: 7px;
}

.country__link {
  color: $basic-white;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  padding: 30px 58px;
  background-color: $orange;
}

.country__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.country__wrapper {
  width: 40%;
}
