.feedback {
  position: relative;
  min-height: 455px;
  padding-top: 70px;
  margin-bottom: 135px;

  &::before {
    position: absolute;
    content: "";
    width: 844px;
    height: 455px;
    top: 0;
    background-color: $light-pink;
    background-image: url("../img/background-qa-desktop.jpg");
    z-index: -1;

    @media (max-width: $tablet-width) {
      width: 768px;
    }

    @media (max-width: $mobile-width) {
      display: none;
      background-color: $light-pink;
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-width) {
    background-color: $light-pink;
    padding-top: 50px;
    min-height: 441px;
  }
}

.feedback__wrapper {
  background-color: $basic-white;
  width: 50%;
  min-height: 315px;
  border-radius: 5px;
  padding: 3%;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    width: auto;
    padding: 7%;
    margin: 0 35px;
  }

  @media (max-width: $mobile-width) {
    background-color: $light-pink;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
}

.feedback__question {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}

.feedback__text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin: 0;
}
