.form-fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 20px 0;

  @media (max-width: $tablet-width) {
    margin: 25px 0 20px 0;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    margin: 20px 0;
  }
}

.form-fieldset__wrapper {
  width: 48%;

  @media (max-width: $mobile-width) {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.form-fieldset__input {
  font-size: 14px;
  line-height: 17px;
  padding: 15px 0 15px 10px;
  width: 100%;
  border: 1px solid $opacity-grey;
}
