.form-buy__fieldset {
  border: none;
  padding: 0;
}

.form-buy__input {
  font-size: 14px;
  line-height: 17px;
  color: $input-color;
  width: 100%;
  border: 1px solid $opacity-grey;
  padding: 15px 0 15px 10px;
}

.form-buy__wrapper {
  margin-bottom: 20px;
}

.form-buy__button {
  @include button-reset;
  display: block;
  min-width: 176px;
  width: 30%;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $orange;
  padding: 18px 0;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

