.main-nav {
  margin-right: 55px;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    width: 100%;
  }
}

.main-nav__list {
  @include list-reset;
  font-weight: 500;
  display: flex;

  @media (max-width: $tablet-width) {
    display: none;
    margin-top: 95px;
  }

  &--open,
  //При отключенном js меню открыто
  &--no-js {
    display: flex;

    @media (max-width: $tablet-width) {
      display: flex;
      flex-direction: column;
    }
  }
}

.main-nav__item:not(:last-child) {
  margin-right: 45px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.main-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $font-grey;

  @media (max-width: $tablet-width) {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
  }

  &:hover {
    color: $orange;
  }
}

.main-nav__item {
  @media (max-width: $tablet-width) {
    position: relative;
    background-color: $light-pink;
    padding: 17px 15px;

    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 14px;
      background-image: url("../img/cursor.svg");
      background-repeat: no-repeat;
      right: 3%;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
