.offer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 20px;
}

.offer__text {
  font-size: 14px;
  line-height: 170%;
  color: $opacity-dark-grey;
  margin: 0;
}
