.page-main {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 75%;
    height: 1089px;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    z-index: -2;
    top: 53%;
    left: 50%;
    transform: translate(-50%, 0);

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}
