.page-header {
  min-height: 100px;
  display: flex;

  @media (max-width: $tablet-width) {
    min-height: 50px;
  }
}

.page-header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 375px;

  @media (max-width: $tablet-width) {
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  @media (max-width: $mobile-width) {
    min-height: 50px;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    display: block;
    width: 100%;
    justify-content: center;
  }
}

.page-header__tel-link {
  display: flex;
  color: $font-grey;
  font-size: 18px;
  line-height: 32px;
  text-decoration-line: underline;
  padding-left: 30px;
  padding-right: 20px;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &:hover {
    color: $orange;
  }
}

.page-header__pic {
  stroke: $dark-grey;
  fill: none;
  margin-right: 10px;
}

.page-header__tel-link:hover .page-header__pic {
  stroke: $orange;
}
