.page-header {
  min-height: 50px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__tel-link {
  display: flex;
  color: $font-grey;
  font-size: 18px;
  line-height: 32px;
  text-decoration-line: underline;
  padding-left: 30px;
  padding-right: 20px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__pic {
  stroke: $dark-grey;
  fill: none;
  margin-right: 10px;
}
