.places__title {
  display: inline-block;
  position: relative;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  margin: 0;
  padding-bottom: 30px;
  margin-bottom: 30px;

  &::after {
    position: absolute;
    content: "";
    width: 70%;
    border: 0.73px solid $orange;
    bottom: 0;
    left: 0;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    display: block;
    text-align: center;
    font-size: 30px;
    line-height: 150%;
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 150%;
  }
}

.places__title-break {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.places__intro {
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
  margin: 0;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.places__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places__item {
  position: relative;
  min-width: 288px;
  max-width: 350px;
  width: 30%;
  height: 430px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 60px;

  &:not(:last-child) {
    margin-right: 48px;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:last-child {
    margin-left: 120px;

    @media (max-width: $tablet-width) {
      margin-left: 0;
    }
  }

  &--greece {
    background-image: url("../img/greece.jpg");
  }

  &--croatia {
    background-image: url("../img/croatia.jpg");
  }

  &--montenegro {
    background-image: url("../img/montenegro.jpg");
  }

  &--macedonia {
    background-image: url("../img/macedonia.jpg");
  }

  &--albania {
    background-image: url("../img/albania.jpg");
  }

  @media (max-width: $tablet-width) {
    width: 40%;
    margin-bottom: 19px;

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 35px;
    margin-right: 0;

    &:not(:nth-child(2n)) {
      margin-right: 0;
    }
  }
}

// .places__item:not(:nth-child(3n)) {
//   margin-right: 60px;
// }

.places__item-name {
  position: absolute;
  min-width: 215px;
  display: inline;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background-color: $basic-white;
  margin: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 15px 0;
}

.places__intro-break {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

// .places__wrapper {
//   display: flex;
//   justify-content: center;
// }
