.success {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 11%;
  width: 728px;
  min-height: 444px;
  background-color: $light-pink;
  margin: 0 auto;
  top: 50%;

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0 5%;
  }

  &--opened {
    display: flex;
  }
}

.success__text {
  display: none;
  font-weight: 500;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  margin-top: 180px;

  &--sended {
    display: block;
  }
}
