.toggle {
  display: none;
  position: relative;

  @media (max-width: $tablet-width) {
    @include button-reset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 50px;
    height: 50px;
    background-color: $orange;
  }

  &--close {
    @media (max-width: $tablet-width) {
      display: flex;

      &::after {
        content: "";
        width: 23px;
        height: 2px;
        position: absolute;
        top: 35%;
        right: 50%;
        transform: translate(50%, 0);
        background-color: $toggle-grey;
        box-shadow: 0 10px 0 0 $toggle-grey, 0 20px 0 0 $toggle-grey;
      }
    }
  }

  @media (max-width: $tablet-width) {
    width: 72px;
    padding-bottom: 20px;
  }
}
