.tour {
  position: relative;
  overflow-x: hidden;
  margin-bottom: 233px;

  @media (max-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 45px;
  }
}

.tour__wrapper {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 899px;
    height: 0;
    border: 1px solid $opacity-grey;
    bottom: 0;
    right: 50%;
    transform: translate(35%, 0);

    @media (max-width: $tablet-width) {
      width: 100%;
      margin-left: 15px;
      margin-right: 15px;
      left: 0;
      transform: none;
    }
  }
}

.tour__list {
  @include list-reset;
  // position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 900px;
  padding-bottom: 15px;
  margin-bottom: 80px;

  @media (max-width: $tablet-width) {
    width: 700px;
    overflow-x: scroll;
    margin-bottom: 30px;
    flex-wrap: nowrap;
  }

  @media (max-width: $mobile-width) {
    width: 280px;
    margin-bottom: 30px;
    flex-wrap: nowrap;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.tour__item {
  &:not(:last-child) {
    margin-right: 10px;

    @media (max-width: $tablet-width) {
      margin-right: 105px;
    }
  }
}

.tour__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $opacity-grey;

  &--current {
    color: $orange;
  }
}
